.filter-widget .form-select:disabled,
.filter-widget .form-select[disabled] {
    background-color: #e9ecef;
    opacity: 0.65;
    cursor: not-allowed;
}

.filter-widget .form-select:not(:disabled) {
    background-color: #fff;
    opacity: 1;
}